.profile__name{
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 0;
    word-break: break-all;
    grid-area: name;
}
@media screen and (max-width: 480px){
    .profile__name{
        font-size: 22px;
    }
}